<header class="header" id="site-header">
    <div class="header-container container">
        <a class="header-logo" href="./#home">
            <picture>
                <source srcset="
                    /img/header/logo-desk.png 1x,
                    /img/header/logo-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                <source srcset="
                    /img/header/logo-mob.png 1x,
                    /img/header/logo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="header-img" src="/img/header/logo-mob.png" alt="Arrow Pipe" loading="lazy" />
            </picture>
        </a>
        <button type="button" class="menu-button" aria-label="menu toggle">
            <span class="icon">
<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.625 7.125H18.375M5.625 16.125H18.375M5.625 11.625H18.375" stroke="#FF51A9" stroke-linecap="round" />
</svg>
            </span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#home">Home</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#how">How to Play</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#escape">Escape Mechanics</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#progression">Difficulty Progression</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#clean">Clean Design</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#relaxation">Relaxation & Challenge</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#testimonials">Testimonials</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#why">Why Arrow Pipe</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#contact">Contact</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#play">Play Now</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#home">Home</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#how">How to Play</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#escape">Escape Mechanics</a></li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#progression">Difficulty Progression</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#clean">Clean Design</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#relaxation">Relaxation & Challenge</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#testimonials">Testimonials</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#why">Why Arrow Pipe</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#contact">Contact</a>
        </li>
        <li class="menu-item">
            <a class="menu-list-item" href="./#play">Play Now</a>
        </li>
    </ul>
    <ul class="header-policy-list">
        <li class="policy-item">
            <a class="policy-list-item" href="privacy.html">Privacy Policy</a>
        </li>
        <li class="policy-item">
            <a class="policy-list-item" href="terms.html">Terms & Conditions</a>
        </li>
        <li class="policy-item">
            <a class="policy-list-item" href="cookies.html">Cookies Policy</a>
        </li>
    </ul>
</div>