<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">Arrow Pipe – Escape Puzzle</h1>
        <p class="home-text">Unblock the Grid. Free the Flow.</p>
        <p class="home-text-two">Escape the tangled maze in this puzzle that'll really make you think.<br class="desk"/> In Arrow Pipe, every move matters. Plan carefully.
        Slide components along their paths. Avoid collisions. Clear the grid and let the water flow freely.<br class="desk" />
        Starts off pretty chill, but man, it gets tough fast - you really gotta think ahead. Narrow gaps, tight spaces, and
        complex arrangements demand focus and foresight.<br class="desk" /> Clean design. Fluid movement. It's just really satisfying when you nail
        a tricky puzzle.</p>
        <p class="home-text-three">Think ahead. Move wisely. Escape the maze.</p>
        <a class="hero-btn" href="#contact">
            <img src="/img/home/btn.png" alt="Google play" loading="lazy">
        </a>
    </div>
</section>
<section class="how-section" id="how">
    <div class="container">
     <div class="title-container">
       <h2>How to Play</h2> 
     </div> 
     <h3>Precision in Every Swipe</h3>  
     <p>One wrong move can block the drainage. Every correct move feels satisfying.<br/>
    The mechanics are simple but rewarding:</p>
    <ul class="how-list">
        <li class="how-item">
            <img src="/img/how/one.png" alt="icon move" loading="lazy">
            <p>Tap and slide components along their assigned path</p>
        </li>
        <li class="how-item">
            <img src="/img/how/two.png" alt="icon avoid" loading="lazy">
            <p>Avoid moving pieces into collisions</p>
        </li>
        <li class="how-item">
            <img src="/img/how/three.png" alt="icon navigate" loading="lazy">
            <p>Navigate narrow gaps carefully</p>
        </li>
        <li class="how-item">
            <img src="/img/how/four.png" alt="icon water" loading="lazy">
            <p>Clear the board to allow the water to flow</p>
        </li>
    </ul>
    </div>
</section>