<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="home-title">Arrow Pipe – Escape Puzzle</h1>
        <p class="home-text">Unblock the Grid. Free the Flow.</p>
        <p class="home-text-two">Escape the tangled maze in this puzzle that'll really make you think.<br class="desk"/> In Arrow Pipe, every move matters. Plan carefully.
        Slide components along their paths. Avoid collisions. Clear the grid and let the water flow freely.<br class="desk" />
        Starts off pretty chill, but man, it gets tough fast - you really gotta think ahead. Narrow gaps, tight spaces, and
        complex arrangements demand focus and foresight.<br class="desk" /> Clean design. Fluid movement. It's just really satisfying when you nail
        a tricky puzzle.</p>
        <p class="home-text-three">Think ahead. Move wisely. Escape the maze.</p>
        <a class="hero-btn" href="#contact">
            <img src="/img/home/btn.png" alt="Google play" loading="lazy">
        </a>
    </div>
</section>